header {
    display: inline-block;
  border: 10px solid hsl(0, 0%, 0%);
  padding: 15px;
  background-color: yellow;
}

nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem; /* Space between nav items */
}