.nav-bar ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: .1rem;
    align-self: center;
}

.nav-item {
    padding: 1rem;
    width: 5.5rem;
    text-align: center;
    font-size: 1.5rem;
}

.nav-bar a {
    text-decoration: none;
}

.nav-item:hover {
    background-color: black;
    color: var(--colour-primary);
}

.nav-item a:hover{
    color: var(--colour-primary);
}


.active {
    background-color: black;
    color: var(--colour-primary);
}

.nav-bar {
    width: 83.3%;
    margin: 0 auto;
}