.nav-bar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
  align-self:center
}

.nav-bar a {
    text-decoration: none;
}

.nav-item:hover {
    background-color: black;
    color: var(--colour-primary);
}
.nav-item a:hover{
    color: var(--colour-primary);
}